.container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 300px;
  border: 2px solid black;
  flex-direction: row;
}

.row {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.column {
  border: 4px solid red;
  padding: 10px;
  margin: 10px;
  font-size: 2em;
  min-width: 100px;
}

.column.large {
  flex-grow: 1;
}

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    border: 2px solid black;
  }
  .item {
    border: 4px solid blue;
  }
}
